/* Map */
body {
  padding: 0px;
  margin: 0.7vh;
}

.map-container {
  height: 98.6vh;
}

@media screen and (orientation: landscape) {
  body {
    margin: 0.7vw;
  }
  .map-container {
    height: calc(100vh - 1.4vw);
  }
}

/* Legend */
.legend {
  background-color: #fff;
  border-radius: 3px;
  bottom: calc(20px + 1vh);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  padding: 6px;
  position: absolute;
  right: 1vh;
  z-index: 1;
}

@media screen and (orientation: landscape) {
  .legend {
    bottom: calc(20px + 1vw);
    right: 1vw;
  }
}
  
.legend div span {
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin-right: 5px;
  width: 10px;
}

#russian-control {
  background-color: #F7455D;
  box-shadow: 0 0 0 1px #F7455D;
}

#russian-pressure {
  background-color: #333EFF;
  box-shadow: 0 0 0 2px #F7455D;
}

#wiki-source {
  margin: 0;
  font: 80%/1.1 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-style: italic;
}